doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/handlebars.js")
    script(src="/javascripts/functions.js")
  body
    block content
